# backend/.env
SUPABASE_URL=https://imxcaccklalkohyisizz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlteGNhY2NrbGFsa29oeWlzaXp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5NDgwMiwiZXhwIjoyMDg5NzcwODAyfQ.J1G7H_Jp2xcY0NVL0Q38KuUTQnOqMtmzNpjTYPaMDqQ
OPENROUTER_API_KEY=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
GEMINI_API_KEY=AIzaSyCGz10sUEq34a4zQ_WxuI2WPwyoAxgMBvo
JWT_SECRET=kimjiwonY1@
FRONTEND_URL=http://localhost:3000
